{% extends 'inherit/base.html' %}
{% load static %}
{% block 'title' %}single{% endblock 'title' %}
{% block 'content' %}
<section class="relative about-banner">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">
					Blog Details Page
				</h1>
				<p class="text-white link-nav"><a href="index.html">Home </a> <span
						class="lnr lnr-arrow-right"></span><a href="blog-home.html">Blog </a> <span
						class="lnr lnr-arrow-right"></span> <a href="blog-single.html"> Blog Details Page</a></p>
			</div>
		</div>
	</div>
</section>
<!-- End banner Area -->

<!-- Start post-content Area -->
<section class="post-content-area single-post-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 posts-list">
				<div class="single-post row">
					<div class="col-lg-12">
						<div class="feature-img">
							<img class="img-fluid" src={{post.image.url}} alt="">
						</div>
					</div>
					<div class="col-lg-3  col-md-3 meta-details">
						<ul class="tags">
							{% for tag in post.tag.all %}
							<li><a href="#">{{tag.name}}</a></li>
							{% endfor %}
						</ul>
						<div class="user-details row">
							<p class="user-name col-lg-12 col-md-12 col-6"><a href="#">{{post.author}}</a> <span
									class="lnr lnr-user"></span></p>
							<p class="date col-lg-12 col-md-12 col-6"><a href="#">{{post.published_date}}</a> <span
									class="lnr lnr-calendar-full"></span></p>
							<p class="view col-lg-12 col-md-12 col-6"><a href="#">{{post.counted_views}}</a> <span
									class="lnr lnr-eye"></span></p>
							<p class="comments col-lg-12 col-md-12 col-6"><a href="#">06 Comments</a> <span
									class="lnr lnr-bubble"></span></p>
							<ul class="social-links col-lg-12 col-md-12 col-6">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-github"></i></a></li>
								<li><a href="#"><i class="fa fa-behance"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-9 col-md-9">
						<h3 class="mt-20 mb-20">{{post.title}}</h3>
						<p class="excert">
							{{post.content}}
						</p>
					</div>
				</div>
				<div class="navigation-area">
					<div class="row">
						{% if next and prev %}
						<div
							class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
							<div class="thumb">
								<a href="{% url 'blog:blog_single' pid=prev.id %}"><img class="img-fluid" src="{{prev.image.url}}" alt=""></a>
							</div>
							<div class="arrow">
								<a href="{% url 'blog:blog_single' pid=prev.id %}"><span class="lnr text-white lnr-arrow-left"></span></a>
							</div>
							<div class="detials">
								<p>Prev Post</p>
								<a href="{% url 'blog:blog_single' pid=prev.id %}">
									<h4>{{prev.title}}</h4>
								</a>
							</div>
						</div>
						<div
							class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
							<div class="detials">
								<p>Next Post</p>
								<a href="{% url 'blog:blog_single' pid=next.id %}">
									<h4>{{next.title}}</h4>
								</a>
							</div>
							<div class="arrow">
								<a href="#"><span class="lnr text-white lnr-arrow-right"></span></a>
							</div>
							<div class="thumb">
								<a href="#"><img class="img-fluid" src="{{next.image.url}}" alt=""></a>
							</div>
						</div>
						{% elif next %}
						<div
							class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
							<div class="detials">
								<p>Next Post</p>
								<a href="{% url 'blog:blog_single' pid=next.id %}">
									<h4>{{next.title}}</h4>
								</a>
							</div>
							<div class="arrow">
								<a href="#"><span class="lnr text-white lnr-arrow-right"></span></a>
							</div>
							<div class="thumb">
								<a href="#"><img class="img-fluid" src="{{next.image.url}}" alt=""></a>
						</div>
					</div>
						{% else %}
						<div
							class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
							<div class="thumb">
								<a href="{% url 'blog:blog_single' pid=prev.id %}"><img class="img-fluid" src="{{prev.image.url}}" alt=""></a>
							</div>
							<div class="arrow">
								<a href="{% url 'blog:blog_single' pid=prev.id %}"><span class="lnr text-white lnr-arrow-left"></span></a>
							</div>
							<div class="detials">
								<p>Prev Post</p>
								<a href="{% url 'blog:blog_single' pid=prev.id %}">
									<h4>{{prev.title}}</h4>
								</a>
							</div>
						</div>
						{% endif %}
					</div>
				</div>
				<div class="comments-area">
					<h4>{{comments.count}} Comments</h4>
					{% for comment in comments %}
					<div class="comment-list">
						<div class="single-comment justify-content-between d-flex">
							<div class="user justify-content-between d-flex">
								<div class="thumb">
									<img src="{% static 'img/blog/c1.jpg' %}" alt="">
								</div>
								<div class="desc">
									<h5><a href="#">{{comment.name}}</a></h5>
									<p class="date">{{comment.created_date}} </p>
									<p class="comment">
										{{comment.subject}}
									</p>
								</div>
							</div>
							<div class="reply-btn">
								<a href="{% url 'blog:replay' cid=comment.id %}" class="btn-reply text-uppercase">reply</a>
							</div>
							{% for reply in replay %}
								{% if reply.which_comment.id == comment.id %}
									{{reply.message}}
								{% endif %}
							{% endfor %}
							<a href="{% url 'blog:delete' cid=comment.id %}" class="btn-reply text-uppercase">Delete</a>
							<a href="{% url 'blog:edit' cid=comment.id %}" class="btn-reply text-uppercase">Edit</a>
						</div>
					</div>
					{% endfor %}

				</div>
				<div class="comment-form">
					<h4>Leave a Comment</h4>
					<form method="post">
						{% csrf_token %}
						<input type="hidden" value="{{post.id}}" name="which_post">
							<div class="form-group col-lg-6 col-md-12 name">
								<input type="text" class="form-control" name="name" placeholder="Enter Name"
									onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Name'">
							</div>
							<div class="form-group col-lg-6 col-md-12 email">
								<input type="email" class="form-control" name="email" placeholder="Enter email address"
									onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'">
							</div>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" name="subject" placeholder="Subject"
								onfocus="this.placeholder = ''" onblur="this.placeholder = 'Subject'">
						</div>
						<div class="form-group">
							<textarea class="form-control mb-10" rows="5" name="message" placeholder="Messege"
								onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'"
								required=""></textarea>
						</div>
						<button type="submit">Post Comment</a>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End post-content Area -->
{% endblock 'content' %}